<table>
    <thead>
        <tr>
            <th colspan="2"><%= @cat.name %></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>name</td>
            <td><%= @cat.name %></td>
        </tr>
        <tr>
            <td>color</td>
            <td><%= @cat.color %></td>
        </tr>
        <tr>
            <td>sex</td>
            <td><%= @cat.sex %></td>
        </tr>
        <tr>
            <td>age</td>
            <td><%= @cat.age %></td>
        </tr>
        <tr>
            <td>description</td>
            <td><%= @cat.description %></td>
        </tr>
    </tbody>
</table>

<h3>Rental Requests For <%= @cat.name %></h3>
<ul>
    <% @requests.each do |request| %>
    <li><%= request.start_date %> to <%= request.end_date %></li>
    <% end %>
</ul>

